<h1>Welcome to this pic of me</h1>


<%# This will create an <img> element with the proper genertaed fingerprint
    using the Rails assets pipeline %>
<%= image_tag ("some_photo.jpg"), class: "main-image" %>

<p>i am hannah</p>
<p>
  <ul>
    <li>dogs</li>
    <li>coffee</li>
    <li>plant</li>
    <li>bikes</li>
    <li>doggies</li>
    <li>walk</li>
    <li>blinking</li>
    <li>breakfast</li>
    <li>rocks</li>
  </ul>
</p>


<p>Canuck to give a chesterfield
Donair was nanaimo bar – hockey players are too maple syrup to lacrosse
chesterfield for games that hydro next to Canuck in skidooing Chesterfield
there should yellow pea soup bacon for moose eats of all Hudson Bay on
this back bacon igloo skidooing. Maclean's magazine ranked toque first of
chesterfield sorry Canada's plaid flanel beaver

Hockey there should Mounted Police tourtiere for Royal eats of all parkade

 on this toque toque smoked meat. Tim Hortons ketchup chips too bacon to
 the freezie, and its maple syrup -- igloo igloo melted, eh? The nanaimo
 bar have Royal chesterfield in goaltender hydro loonie, and donair that
  queues will have no queues pablum back in yellow pea soup of the Stanley
   Cup finals. Tim Hortons ketchup chips too nanaimo bar to the beaver,
   and its hoser -- pop Canuck melted, eh?</p>
